.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  border: 5px solid black;
  height: 300px;
}

h1, h6 {
  text-align: center;
  color: white;
  font-family: 'Brush Script MT', cursive;
}

.table {
  text-align: center;
}
th, td {
  color: #e3e1e1;
}

.tableimage {
  height: 200px;
}

.card-title {
  color: black;
}

li {
  color: white;
}
